<div class="star">
  <a class="github-button" href="https://github.com/CreativeIT/material-angular-select" data-icon="octicon-star"
     data-size="large" data-show-count="true" aria-label="Star CreativeIT/material-angular-select on GitHub">Star</a>
</div>

<div class="mdl-grid" [formGroup]="form">
  <div class="mdl-cell--8-col" style="text-align:left; margin: 0 auto">
    <h2>
      Welcome to {{ title }}!
    </h2>
    <div class="mdl-grid">
      <div class="mdl-cell--6-col">
        <h6>Simple select</h6>
        <material-angular-select [data]="cities" [label]="'Cities'" [arrow]="false"
                                 [isFloatingLabel]="false"></material-angular-select>
      </div>
      <div class="mdl-cell--6-col">
        <h6>Simple select with arrow</h6>
        <material-angular-select [data]="cities" [label]="'Cities'" [isFloatingLabel]="false"></material-angular-select>
      </div>
    </div>
    <div class="mdl-grid">

      <div class="mdl-cell--6-col">
        <h6>With floating label</h6>
        <material-angular-select [data]="cities" [label]="'Cities'" [arrow]="false"
                                 [isFloatingLabel]="true"></material-angular-select>
      </div>
      <div class="mdl-cell--6-col">
        <h6>Floating label with arrow</h6>
        <material-angular-select [data]="cities" [label]="'Cities'"></material-angular-select>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell--6-col">
        <h6>Fixed height</h6>
        <material-angular-select [data]="countries" [label]="'Countries'"
                                 [fixHeight]="true"></material-angular-select>
      </div>
      <div class="mdl-cell--6-col">
        <h6>Pre-selected value</h6>
        <material-angular-select [data]="countries" [label]="'Countries'"
                                 [currentValue]="currentValue"
                                 (selectedValue)="selectedValue($event)"></material-angular-select>
        <div class="small-text">Your selected value is <i>{{currentValue}}</i></div>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell--6-col">
        <h6>Disabled</h6>
        <material-angular-select [data]="cities" [label]="'Cities'" [disabled]="true"></material-angular-select>
      </div>
      <div class="mdl-cell--6-col">
        <h6>Complex value</h6>
        <material-angular-select [data]="complexCountries" [label]="'Countries'"
                                 [currentValue]="currentComplexValue"
                                 [keys]="{value: 'code', title: 'name'}"
                                 (selectedValue)="selectedComplexValue($event)"></material-angular-select>
        <div class="small-text">
          Your selected value name - <i>{{currentComplexValue.name}}</i>, code - <i>{{currentComplexValue.code}}</i>
        </div>
      </div>
    </div>

    <div class="mdl-grid">
      <div class="mdl-cell--6-col">
        <h6>Own style classes</h6>
        <material-angular-select [data]="cities" [label]="'Cities'"
                                 [classStyle]="['my-class']"
                                 [fixHeight]="true" inputId="my-id"></material-angular-select>
      </div>

      <div class="mdl-cell--6-col">
        <h6>Reactive component</h6>
        <material-angular-select [data]="cities" [label]="'Cities'"
                                 formControlName="reactive"></material-angular-select>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell--6-col">
        <h6>Typeahead</h6>
        <material-angular-select [typeahead]="true" [data]="cities" [label]="'Cities'" formControlName="typeahead"></material-angular-select>
      </div>
    </div>
  </div>
</div>
