.mdl-grid {
  margin-bottom: 1rem;
}

.my-class {
  color: red;

  .mas-textfield__label {
    color: green;
    font-weight: bold;
  }
}

.star {
  float: right;
  top: 15px;
  right: 15px;
  position: absolute;
}
